<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Content</th>
        <th>Posted Date</th>
        <th>Sent By</th>
        <td>Actions</td>

    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.postdate}"></td>
        <td th:text="${message.sentby}"></td>
        <td>m
            <a th:href="@{/update/{id}(id=${course.id})}">Update</a> -
            <a th:href="@{/update/{id}(id=${course.id})}">Details</a> -
            <a th:href="@{/update/{id}(id=${course.id})}">Delete</a>
        </td></tr>
</table>
</body>
</html>